.selectCountryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectCountry {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  column-gap: 2rem;
}
