.wrapper {
  background: url('../../assets/login.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: var(--desktop-nav-fullheight);
}

.blur_wrapper {
  padding: 3rem;
  padding-inline-end: 6rem;
  background-color: var(--clr-bg-orange50);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  min-height: var(--desktop-nav-fullheight);
  width: fit-content;
  max-width: 100%;
}

.blur_wrapper h2 {
  color: var(--clr-white90);
  font-weight: var(--fw-semibold);
  margin-block-end: 1rem;
}

.register_form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.register_input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login_link {
  color: var(--clr-white90);
  margin-block: 1rem;
}

.link {
  color: white;
  text-decoration: underline;
}

.link:hover {
  color: var(--clr-white90);
  text-decoration: underline;
}

.aboutus {
  color: var(--clr-white70);
  margin-block-start: 2rem;
  max-width: 40ch;
}

.tooltip_wrapper {
  max-width: 60vw;
}

.tooltip_title {
  margin-block-end: 0.5rem;
  font-weight: var(--fw-medium);
}

.tooltip_list_wrapper {
  display: grid;
  gap: 0.5rem;
}

@media (max-width: 600px) {
  .wrapper {
    background-attachment: initial;
    min-height: var(--mobile-nav-fullheight);
  }
  .blur_wrapper {
    min-height: var(--mobile-nav-fullheight);
    padding: 2rem;
    width: 100%;
  }
}
