.mainContainer {
  width: 16.375rem;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  align-items: center;
  margin-bottom: 0.94rem;
}

.title {
  margin-left: 0.5rem;
}

.description {
  width: 100%;
}

.description p {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.14px;
}
