.content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-image: url('../../../assets/importexport.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    align-items: flex-end;
    padding: 7%;
}

.heading{
    color: rgb(255,204,0)
}

.desc{
    display: flex;
    flex-direction: column;   
}

.learnMore{
    border: 2px solid white;
    width: 20%;
    padding: 2%;
    
}

