.wrapper {
  position: relative;
  background-image: url('../../../assets/images/Home/SectionSeven/home_contactus.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 75vh;
}

.content {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 3rem;
}

.text {
  color: var(--clr-white90);
}

.title {
  font-weight: var(--fw-semibold);
  padding-block-end: 1rem;
}

@media (max-width: 992px) {
  .wrapper {
    height: 60vh;
  }
  .content {
    padding: 3rem 2rem;
  }
}

@media (max-width: 600px) {
  .content {
    padding: 3rem 2rem;
  }
}
