.wrapper {
  position: relative;
}

.dropdownbox {
  border-radius: 12px;
  border: 0;
  height: 2.8rem;
  background-color: rgba(255, 255, 255, 0.75);
  padding-inline: 1rem;
}

.icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}
