.chooseACountry {
  color: #1a5a25;
  font-family: 'Poppins-SemiBold', Helvetica;
  font-size: 48px;
  font-weight: 600;
  height: 72px;
  left: 0;
  letter-spacing: -0.96px;
  line-height: normal;
  position: fixed;
}

.selectCountryContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectCountry {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  row-gap: 2rem;
}
