.input_wrapper {
  position: relative;
  color: var(--clr-black70);
  margin-block-start: 0.5rem;
}

.label {
  color: var(--clr-white90);
  font-size: var(--fs-p);
}

.input {
  border-radius: 12px;
  border: 0;
  background-color: var(--clr-white70);
  padding-inline: 1rem;
}

.icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

.size_xlarge {
  height: 3rem;
  width: 40rem;
}

.size_large {
  height: 3rem;
  width: 24rem;
}

.size_small {
  height: 3rem;
  width: 14rem;
}

.size_tablet_xlarge {
  height: 3rem;
  width: 35rem;
}

.size_tablet_large {
  height: 3rem;
  width: 20rem;
}

.size_tablet_small {
  height: 3rem;
  width: 12rem;
}

.size_mobile_large {
  height: 2.5rem;
  width: 100%;
  max-width: 400px;
}

.size_mobile_small {
  height: 2.5rem;
  width: 9rem;
}
