.input_wrapper {
  position: relative;
  color: var(--clr-black90);
  margin-block-start: 0.5rem;
}

.label {
  color: var(--clr-white90);
  font-size: var(--fs-small);
}

.input {
  border-radius: 12px;
  border: 0;
  background-color: var(--clr-white70);
  padding-inline: 1rem;
}

select.input {
  padding-inline-end: 3rem;
}

.icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

.size_xlarge {
  height: 3rem;
  width: 40rem;
  border-radius: 16px;
}

.size_large {
  height: 2.5rem;
  width: 20rem;
}

.size_small {
  height: 2.5rem;
  width: 12rem;
}

.size_tablet_xlarge {
  height: 2.5rem;
  width: 32rem;
}

.size_tablet_large {
  height: 2.5rem;
  width: 16rem;
}

.size_tablet_small {
  height: 2.5rem;
  width: 10rem;
}

.size_mobile_large {
  height: 2.5rem;
  width: 100%;
  max-width: 400px;
}

.size_mobile_small {
  height: 2.5rem;
  width: 9rem;
}

@media (max-width: 600px) {
  .input {
    font-size: var(--fs-smaller);
  }
}
