.wrapper {
  position: relative;
  width: 100%;
  isolation: isolate;
}

.background {
  position: absolute;
  inset: 12px;
  border-radius: 2rem;
  background-image: url('../../../../assets/images/Nigeria/SectionSix/commitment.webp');
  background-size: cover;
  background-position: 75% center;
  z-index: -1;
}

.background::after {
  content: '';
  position: absolute;
  border-radius: inherit;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.3);
  z-index: 1;
}

.content {
  width: 100%;
  height: 100%;
  padding: 6rem 3rem;
}

.text {
  color: var(--clr-white90);
}

.title {
  font-weight: var(--fw-semibold);
  padding-block-end: 3rem;
  max-width: 20ch;
}

.body_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.text_wrapper {
  max-width: 60ch;
}

.mini_title {
  color: var(--clr-yellow);
  font-weight: var(--fw-medium);
}

@media (max-width: 600px) {
  .background {
    inset: 0;
    border-radius: 0;
  }
  .content {
    padding: 5rem 2rem;
  }
}
