.button {
  border: 5px solid var(--clr-white90);
  padding: 1rem 4rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: var(--fw-medium);
  font-size: var(--fs-p);
  cursor: pointer;
  transition:
    border-color 0.3s linear,
    color 0.3s linear;
}

.white_color {
  border-color: var(--clr-white90);
  color: var(--clr-white90);
}

.black_color {
  border-color: var(--clr-black90);
  color: var(--clr-black90);
}

.button:hover,
.button:focus-visible {
  border-color: var(--clr-lyellow);
  color: var(--clr-lyellow);
}

.button:active {
  border-color: var(--clr-yellow);
  color: var(--clr-yellow);
  transition-duration: 0s;
}

@media (max-width: 600px) {
  .button {
    border-width: 3px;
    font-size: var(--fs-smaller);
    padding: 0.75rem 2rem;
  }
}
