.wrapper {
  background-color: #f4f4f4;
  padding: 3rem;
  margin-left: 20%;
}

.card_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
}

.country_desc_wrapper {
  display: flex;
}

.title_wrapper {
  margin-block-end: 4rem;
}

.title {
  font-weight: var(--fw-semibold);
  color: var(--clr-green);
  margin-bottom: 3rem;
}

hr {
  height: 0.1rem;
  background-color: black;
}

@media (max-width: 992px) {
  .wrapper {
    padding: 2rem;
  }

  .card_wrapper {
    gap: 2rem;
  }

  .country_desc_wrapper {
    display: flex;
    flex-direction: column;
  }

  .map_wrapper {
    order: 1;
    margin-bottom: 1rem;
  }

  .country_description_wrapper {
    order: 2;
  }
}

@media (max-width: 768px) {
  .country_desc_wrapper {
    display: flex;
    flex-direction: column;
  }

  .map {
    padding-block-start: 2rem;
    width: 80vw;
  }

  .map_wrapper {
    order: 1;
    margin-bottom: 1rem;
  }

  .country_description_wrapper {
    order: 2;
  }
}
