.wrapper {
  background-color: #f4f4f4;
  padding: 3rem;
}

.card_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
}

.country_desc_wrapper {
  display: flex;
}

.title {
  font-weight: var(--fw-semibold);
  color: var(--clr-green);
  margin-bottom: 3rem;
}

hr {
  height: 0.1rem;
  background-color: black;
}

@media (max-width: 992px) {
  .wrapper {
    padding: 2rem;
  }

  .card_wrapper {
    gap: 2rem;
  }
}
