.countryImageNameContainer {
  position: relative;
  width: 23.9rem;
  height: 14rem;
  border: 6px solid #1b5a25;
}

.countryImageNameContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.countryImageNameContainer .textContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.71);
}

.countryImageNameContainer .countryName {
  padding-left: 0.625rem;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  height: 100%;
  color: #18b231;
}

.countryImageNameContainer .textContainer img {
  width: 1.5rem;
  height: 2rem;
  margin-left: 0.625rem;
}
