.nav {
  height: 72px;
  background-color: white;
  color: black;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  width: 92px; 
  aspect-ratio: 1 / 0.6;
}

.menu_icon {
  display: none;
}

.flag {
  width: 18px;
  height: 18px;
}

.extra_nav_styling {
  display: flex;
  margin-inline-end: 1rem;
  gap: 4vw;
}

.nav_links {
  font-weight: var(--fw-semibold);
  font-size: var(--fs-small);
  text-transform: uppercase;
}

.nav_link:hover,
.nav_link:focus-within {
  transition: 0.2s ease;
  text-decoration: underline;
  color: var(--clr-lgreen);
}

.dropdown_button {
  display: flex;
  gap: 0.5rem;
  text-transform: uppercase;
}

/* ?For nav_links with dropdowns */

.dropdown_container {
  position: relative;
}

.dropdown_content {
  display: none;
  position: absolute;
  padding: 2.5rem 0.5rem 1rem;
  width: 8rem;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: white;
}

.dropdown_content .nav_links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dropdown_container:hover .dropdown_content,
.dropdown_container:focus-within .dropdown_content {
  display: block;
}

@media (max-width: 992px) {
  .extra_nav_styling {
    display: none;
    gap: initial;
    margin-inline-end: 0;
  }

  .menu_icon {
    display: block;
    cursor: pointer;
    z-index: 2;
    height: 24px;
    width: 24px;
  }

  .icon {
    display: none;
  }

  .mobile_nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -50%;
    bottom: 0;
    width: 50%;
    padding-block: 6rem 2rem;
    padding-inline-end: 2rem;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    overflow-y: auto;
    transition: right 0.3s ease-in-out;
  }

  .mobile_nav_open {
    right: 0;
    transition: right 0.3s ease-in-out;
  }

  .dropdown_content .nav_links {
    gap: 2rem;
  }

  .nav_links {
    font-weight: var(--fw-medium);
    font-size: var(--fs-p);
    text-transform: initial;
    text-align: right;
    gap: 2rem;
  }

  .dropdown_button:not(.lang_button) {
    display: none;
  }

  .lang_button {
    margin-inline-start: auto;
  }

  .dropdown_content {
    display: block;
    position: initial;
    background-color: initial;
    padding: initial;
    width: initial;
    transform: initial;
    text-align: initial;
  }
}

@media (max-width: 600px) {
  .nav {
    padding-inline: 1rem 2rem;
  }

  .mobile_nav {
    right: -75%;
    width: 75%;
  }

  .mobile_nav_open {
    right: 0;
  }
}
