.nav {
  color: black;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  inset: 0 0 auto 0;
  height: 72px; /* !Desktop Navbar height */
  z-index: 1;
  transition: height 0.3s linear;
}

.nav::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--clr-white70);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  backdrop-filter: blur(20px) saturate(180%);
  z-index: -1;
}

.scrolled_nav {
  height: 56px; /* !Desktop Scrolled Navbar height */
  transition: height 0.3s linear;
}

.logo_wrapper {
  display: flex;
  align-items: center;
}

.logo {
  width: 92px;
  aspect-ratio: 1 / 0.6;
  transition: width 0.3s linear;
}

.scrolled_logo {
  width: 84px;
  transition: width 0.3s linear;
}

.skip_nav {
  pointer-events: none;
  position: absolute;
  left: 130px;
  opacity: 0;
  z-index: 5;
  background-color: var(--clr-bg-lgray);
  border-radius: 12px;
  font-weight: var(--fw-semibold);
  padding: 1rem;
}

.skip_nav:focus {
  opacity: 1;
}

.menu_icon {
  display: none;
}

.flag {
  width: 18px;
  height: 18px;
}

.extra_nav_styling {
  display: flex;
  margin-inline-end: 1rem;
  gap: 4vw;
}

.nav_links {
  font-weight: var(--fw-semibold);
  font-size: var(--fs-small);
  text-transform: uppercase;
  cursor: pointer;
}

.nav_link:hover,
.nav_link:focus-within {
  transition: 0.2s ease;
  text-decoration: underline;
  color: var(--clr-lgreen);
}

/* ?For nav_links with dropdowns */

.dropdown_container {
  position: relative;
}

.dropdown_container::before {
  /* ?extending size of button to allow hover on dropdown */
  content: '';
  position: absolute;
  inset: 0 0 -36px 0;
  z-index: -1;
  display: none;
}

.dropdown_container:hover::before {
  display: block;
}

.dropdown_button {
  display: flex;
  gap: 0.5rem;
  text-transform: uppercase;
}

.dropdown_button:focus {
  outline: 0; /* ?nav_links are already clearly focusable (FF fix) */
}

.dropdown_content {
  display: none;
  position: absolute;
  padding: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 36px); /* ?36px to start for dropdown to start at bottom of nav */
  text-align: center;
  background-color: white;
  transition: all 0.3s linear;
}

.dropdown_content .nav_links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.dropdown_container:hover .dropdown_content,
.dropdown_container:focus-within .dropdown_content {
  display: block;
}

.scrolled_dropdown {
  background-color: var(--clr-white70);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  backdrop-filter: blur(20px) saturate(180%);
  transform: translate(-50%, 28px); /* ?28px to match smaller scrolled nav height */
}

@media (max-width: 992px) {
  .extra_nav_styling {
    display: none;
    gap: initial;
    margin-inline-end: 0;
  }

  .menu_icon {
    display: block;
    cursor: pointer;
    z-index: 2;
    height: 24px;
    width: 24px;
  }

  .icon {
    display: none;
  }

  .mobile_nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -50%;
    bottom: 0;
    width: 50%;
    padding-block: 6rem 2rem;
    padding-inline-end: 2rem;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
    transition: right 0.3s ease-in-out;
    -webkit-tap-highlight-color: transparent;
  }

  .mobile_nav_open {
    right: 0;
    transition: right 0.3s ease-in-out;
  }

  .dropdown_content .nav_links {
    gap: 2rem;
  }

  .nav_links {
    font-weight: var(--fw-medium);
    font-size: var(--fs-p);
    text-transform: initial;
    text-align: right;
    gap: 2rem;
  }

  .dropdown_button:not(.lang_button) {
    display: none;
  }

  .lang_button {
    margin-inline-start: auto;
  }

  .dropdown_content {
    display: block;
    position: initial;
    background-color: initial;
    padding: initial;
    width: initial;
    transform: initial;
    text-align: initial;
    transition: initial;
  }
}

@media (max-width: 600px) {
  .nav {
    height: 48px; /* !Mobile Navbar height */
    padding-inline: 1rem 2rem;
  }

  .skip_nav {
    display: none;
  }

  .logo {
    width: 64px;
  }

  .mobile_nav {
    right: -75%;
    width: 75%;
  }

  .mobile_nav_open {
    right: 0;
  }
}
