.button {
  border-width: 5px;
  border-style: solid;
  padding: 1rem 4rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: var(--fw-medium);
  font-size: var(--fs-p);
  cursor: pointer;
}

@media (max-width: 600px) {
  .button {
    padding: 1rem 2rem;
    width: 75vw;
  }
}
