/* TODO FIX ALL OF THIS */

.wrapper {
    background-image: url('../../assets/login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sub_wrapper {
    padding: 3rem;
    width: 45%; 
    height: 100%;
    background-color: #38363485;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    display: flex;
    flex-direction: column;
}

.sub_wrapper h2 {
    color: var(--clr-white90);
    font-weight: var(--fw-semibold);
    margin-block-end: 3rem;
}
.register_form{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.register_input{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.login_link {
    font-size: 1rem;
    color: var(--clr-white70);
    margin-bottom: 1rem;
}

.login_link a {
    color: var(--clr-white90);
    text-decoration: none;
    cursor: pointer;
}

.aboutus {
    color: var(--clr-white90);
    font-size: 1rem;
    padding: 0.625rem;
    bottom: 0;
    position: absolute;
    left: 1rem;
}

.invest {
    color: var(--clr-white90);
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    right: 1rem;
    padding: 0.625rem;
}


.login_link a:hover {
    text-decoration: underline;
} 


/* css for tablet */
@media (max-width: 992px) and (min-width:600px){
    .wrapper{
        background: url('../../assets/background2.png');
    }
    .sub_wrapper{
        background-color: transparent;
        width: auto;
    }
    .invest {
        display: none;
    }
}
/* css for mobile */
@media (max-width: 600px){
    .wrapper{
        background: url('../../assets/background2.png');
    }
    .sub_wrapper{
        background-color: transparent;
        width: auto;

    }
    .invest {
        display: none;
    }
}