.wrapper {
  background: var(--clr-bg-gray);
  padding: 2rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.socialmedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  color: var(--clr-lyellow);
}

.socialmedia_link {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: color 300ms ease;
}

.socialmedia_link p {
  font-size: var(--fs-smaller);
  font-weight: var(--fw-medium);
}

.socialmedia_link:hover,
.socialmedia_link:focus {
  color: var(--clr-yellow);
  text-decoration: underline;
}

.divider {
  border-left: 2px solid var(--clr-lyellow);
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.contactinfo {
  margin-inline-start: auto;
  color: var(--clr-lyellow);
  text-align: right;
  max-width: initial;
}

.subtitle {
  margin-block-start: 0.5rem;
  color: var(--clr-yellow);
}

.title {
  font-weight: var(--fw-bold);
}

.icon {
  height: 2rem;
  width: 2rem;
  padding: 0.2rem;
  text-align: center;
  border-radius: 50%;
  color: var(--clr-lyellow);
  transition: color 300ms ease;
}

.icon:hover,
.icon:focus {
  color: var(--clr-yellow);
  background-color: black;
}

.spacing {
  display: none;
}

@media (max-width: 992px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  .socialmedia {
    flex-direction: row;
    margin-inline-start: 0;
  }

  .contactinfo {
    margin-inline-start: 0;
    margin-inline-end: 0;
    text-align: center;
  }

  .spacing {
    display: block;
  }
}

@media (max-width: 600px) {
  .socialmedia {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .contactinfo {
    margin-inline-start: 0;
    margin-inline-end: 0;
    text-align: center;
  }
}
