.container {
    background-image: url('../../assets/background2.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; 
    display: flex;
    flex-direction: column;
}

.sub-container {
    padding: 1rem;
}
.Form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sub-container h3 {
    font-weight: 700;
    color:rgba(255, 255, 255, 0.9);
}

.sub-container h5 {
    color:rgba(255, 255, 255, 0.9);
    font-weight: 700;
}
.input-group {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.Login {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.826);
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.Login a {
     color:rgba(255, 255, 255, 0.9);
    text-decoration: none;
    cursor: pointer;
}
.about_company{
    display: flex;
    justify-content: space-between;
    color:rgba(255, 255, 255, 0.9);
    font-size: 1rem;
    margin-top: 2rem;
}
.Login a:hover {
    text-decoration: underline;
} 

/* css for tablet */
@media (max-width: 992px) and (min-width:600px){
    .invest {
        display: none;
    }
}
/* css for mobile */
@media (max-width: 600px){
    .invest {
        display: none;
    }
}

/* @media (min-height: 1100px){
    .container{
        height: 100vh;
    }
} */

