.wrapper {
  --height: 75vh;

  position: relative;
  overflow: hidden;
  width: 100%;
  height: var(--height);
}

.background {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center center;
}

/* *Start CSS for react-transition-group */
.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity 500ms ease;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transition: opacity 500ms ease;
}
/* *End CSS for react-transition-group */

.content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding-block: calc(var(--height) / 4);
  padding-inline: 3rem;
}

.text {
  color: var(--clr-white90);
}

.title {
  font-weight: var(--fw-semibold);
  padding-block-end: 1rem;
}

.subtitle {
  line-height: 130%;
}

@media (max-width: 600px) {
  .wrapper {
    --height: 60vh;

    height: var(--height);
  }
  .content {
    padding-inline: 2rem;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
