.login-container {
    background-image: url('../../assets/login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.login {
    padding: 1rem;
    width: 45%; 
    height: 100%;
    background-color: rgba(17, 17, 17, 0.466);
    backdrop-filter: blur(0.5rem);
    display: flex;
    flex-direction: column;
}
.login_form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.login-input{
    display: flex;
    flex-direction: column;
    gap: 1.9rem;
    justify-content: center;
}
.login h1 {
    color: white;
    font-size: 3rem;
    font-weight: 700;
}
.register-link {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.826);
    letter-spacing: 1px;
}

.register-link a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.remember-check {
    color: white;
    font-size: 1rem;
    gap: 1.5rem;
    display: inline-block;
    position: relative;
    padding-left: 1.875rem;
    cursor: pointer;
}

.remember-check input[type="checkbox"]{
    display: none;

}
.remember-check  .checkbox-icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;   
    width: 20px; 
    background-color: #ccc; 
    border: 1px solid #888; 
    border-radius: 4px; 
    cursor: pointer;
} 
.remember-check input:checked + .checkbox-icon::before {
    content: '\2713';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #020202; 
} 

.aboutus {
    color: white;
    font-size: 1rem;
    padding: 0.6rem;
    bottom: 0;
    position: absolute;
    left: 0;
}

.invest {
    color: white;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.6rem;
}


.register-link a:hover {
    text-decoration: underline;
} 
/* css for tablet */
@media (max-width: 992px) and (min-width:600px){
    .login-container{
        background: url('../../assets/background2.png');
    }
    .login{
        background-color: transparent;
        width: auto;

    }
    .invest {
        display: none;
    }
}
/* css for mobile */
@media (max-width: 600px){
    .login-container{
        background: url('../../assets/background2.png');
    }
    .login{
        background-color: transparent;
        width: auto;

    }
    .invest {
        display: none;
    }
}