.container{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 150px;
}

.email{
    display:flex;
    flex-direction: column;
}

.emails{
    
    width: 250px;
    height: 20px;
    padding: 10px;
}
.emails:focus{
    outline: none;
}


.verifyBtn{
    margin-top: 15px;
    padding: 10px;
    border-color: rgb(30, 216, 132);
    border-radius: 4px;
    color:green;
    cursor:pointer;
}

.backBtn{
    margin-top: 15px;
    padding: 10px;
    border:none;
    color:green;
    border-radius: 4px;
    cursor:pointer;
}

.otp{
    display: flex;
    flex-direction: row;
}

.otpVerifyBtn{
    margin-left: 10px;
    border-color: green;
    color:green;
    border-radius: 5px;
    cursor:pointer;
}