@import url(reset.css);

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Medium.ttf');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-SemiBold.ttf');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Bold.ttf');
  font-weight: 800;
  font-display: swap;
}

:root {
  --font-stack: 'Poppins', system-ui, 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  --desktop-nav-fullheight: calc(100vh - 72px);
  --scrolled-nav-fullheight: calc(100vh - 56px);
  --mobile-nav-fullheight: calc(100vh - 48px);

  --clr-white90: #ffffffe6;
  --clr-white70: #ffffffb3;

  --clr-black90: #000000e6;
  --clr-black70: #000000b3;

  --clr-bg-gray: #2f2f2f;
  --clr-bg-lgray: #f0f0f0;
  --clr-bg-orange50: #271c1785;

  --clr-yellow: #ffcc00;
  --clr-lyellow: #ffe478;
  --clr-green: #006239;
  --clr-lgreen: #18b231;

  --fw-regular: 500;
  --fw-medium: 600;
  --fw-semibold: 700;
  --fw-bold: 800;

  --fs-h1: clamp(0.8rem, 8vw + 0.8rem, 5.4rem);
  --fs-h2: clamp(0.8rem, 8vw + 0.4rem, 4rem);
  --fs-h3: clamp(0.6rem, 7vw + 0.4rem, 3rem);
  --fs-h4: clamp(0.5rem, 6vw + 0.4rem, 2.6rem);
  --fs-h5: clamp(0.4rem, 5vw + 0.4rem, 1.5rem);
  --fs-p: clamp(0.3rem, 3vw + 0.3rem, 1.25rem);
  --fs-small: clamp(0.2rem, 3vw + 0.3rem, 1rem);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  max-width: 1600px;
  margin-inline: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-stack);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: initial;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
  letter-spacing: -1.2px;
}

h2 {
  font-size: var(--fs-h2);
  letter-spacing: -0.7px;
}

h3 {
  font-size: var(--fs-h3);
  letter-spacing: -0.48px;
}

h4 {
  font-size: var(--fs-h4);
  letter-spacing: -0.28px;
}

h5 {
  font-size: var(--fs-h5);
  letter-spacing: -0.1px;
}

p {
  font-size: var(--fs-p);
  line-height: 2;
  max-width: 40ch;
}
