.wrapper {
    background-color: var(--clr-bg-lgray);
    padding: 4rem 3rem;
}

.container {
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
}

.title {
    font-weight: 700;
    color: var(--clr-green);
}

@media (max-width: 600px) {
    .wrapper {
        padding: 3rem 2rem;
    }
}