.wrapper {
  background: url('../../assets/login.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: var(--desktop-nav-fullheight);
}

.blur_wrapper {
  padding: 3rem;
  background-color: var(--clr-bg-orange50);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  min-height: var(--desktop-nav-fullheight);
  width: 100%;
}

.title,
.subtitle {
  color: var(--clr-white90);
  font-weight: var(--fw-semibold);
}

.subtitle {
  margin-block: 1rem 3rem;
}

.page_indicator {
  color: var(--clr-white70);
}

.inputs_wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input_group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.button_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-block-start: 3rem;
}

.login_link {
  font-size: 1rem;
  color: var(--clr-white70);
  margin-block: 2rem;
}

.login_link a {
  color: var(--clr-white90);
  text-decoration: none;
  cursor: pointer;
}

.login_link a:hover {
  text-decoration: underline;
}

.aboutus {
  color: var(--clr-white70);
  margin-block-start: 2rem;
  max-width: 40ch;
}

@media (max-width: 600px) {
  .wrapper {
    background-attachment: initial;
    min-height: var(--mobile-nav-fullheight);
  }

  .blur_wrapper {
    min-height: var(--mobile-nav-fullheight);
    padding: 2rem;
  }

  .inputs_wrapper {
    gap: 1rem;
  }

  .input_group:not(.small_inputs) {
    display: grid;
  }
  
  .button_wrapper {
    justify-content: center;
  }
}
