.wrapper {
  background-image: url('../../../assets/images/Home/SectionFour/sectionfour.webp');
  background-size: cover;
  background-position: 75% center;
  width: 100%;
}

.content {
  width: 100%;
  height: 100%;
  padding: 5rem 3rem;
}

.text {
  color: var(--clr-white90);
}

.title {
  font-weight: var(--fw-semibold);
  padding-block-end: 3rem;
  max-width: 20ch;
}

.body_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.text_wrapper {
  max-width: 60ch;
}

.mini_title {
  color: var(--clr-yellow);
  font-weight: var(--fw-medium);
}

@media (max-width: 600px) {
  .content {
    padding: 5rem 2rem;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
