.wrapper {
  position: relative;
}

.invest_nigeria {
  height: 30rem;
  width: 100%;
  z-index: 0;
}

.content_wrapper {
  position: absolute;
  top: 50%;
  left: 10%;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  transform: translateY(50%);
  transition:
    opacity 0.5s,
    transform 0.5s;
}

.title {
  font-weight: var(--fw-bold);
}

.content {
  font-size: var(--fs-h5);
  font-weight: var(--fw-semibold);
}

.wrapper.loaded .content_wrapper {
  opacity: 1;
  transform: translateY(0);
}

.titleLoaded {
  transition-delay: 0.5s;
}

.contentLoaded {
  transition-delay: 0.7s;
}
